/*Avanish.K.a*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
     margin: 0;
     padding: 0;
     background: url(image.jpg);
     background-size: cover;
     background-position: center;
     font-family: 'Roboto', sans-serif;
}

.loginsection{
     width: 320px;
     height: 420px;
     background: #232323;
     border-radius:5px;
     color: #fff;
     top: 50%;
     left: 50%;
     position: absolute;
     transform: translate(-50%,-50%);
     box-sizing: border-box;
     padding: 80px 30px;
}

.avatar{
     width: 100px;
     height: 100px;
     border-radius: 50%;
     position: absolute;
     top: -60px;
     left: calc(50% - 50px);
}

h1{
     margin: 0;
     padding: 0 0 20px;
     text-align: center;
     font-size: 22px;
}

.loginsection p{
     margin: 0;
     padding: 0;
     font-weight: bold;
     font-family: Roboto;
}

.loginsection input{
     width: 100%;
     margin-bottom: 20px;
}

.loginsection input[type="text"], input[type="password"]{
     border: none;
     border-bottom: 1px solid #fff;
     background: transparent;
     outline: none;
     height: 40px;
     color: #fff;
     font-size: 20px;
}

.loginsection input[type="submit"]{
     border: none;
     outline: none;
     height: 40px;
     background: #fb2626;
     color: #fff;
     font-size: 20px;
     border-radius: 20px;
     transition:0.2s ease;
}

.loginsection input[type="submit"]:hover{
     cursor: pointer;
     background: #ffc107;
     color: #000;
}
